<%= f.label :courses_id, "Curso" %>
<%= select("classroom", "courses_id", Courses.all.collect {|course| [ course.name, course.id ] }, {include_blank: true}, { class: "form-control"}) %>

<%= f.label :students_id, "Aluno" %>
<%= select("classroom", "students_id", Students.all.collect {|student| [ student.name, student.id ] }, {include_blank: true}, { class: "form-control"}) %>

<%= f.hidden_field :entry_at, value: Time.now %>
<br>
<div class="form-group">
  <%= f.submit "Enviar", class: "btn btn-primary" %>
</div>
