<h2>Lista de Estudantes</h2>
<!-- Tabela estilizada com bootstrap trazendo o nome, número de registro e status do curso -->
<table class="table table-striped">
  <tr><td>Nome</td><td>Número de Registro</td><td>Status</td><td>Opções</td></tr>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.register_number %></td>
        <td>
          <% if student.status == 1 %>
            Ativo
          <% else %>
            Inativo
          <% end %>
        </td>
        <td>
          <%= link_to "Visualizar", student, class: "btn-sm btn-default" %> | <%= link_to "Editar", edit_student_path(student), class: "btn-sm btn-default" %>
        </td>
      </tr>
    <% end %>
</table>

<br>
<%= link_to "Novo Estudante", new_student_path, class: "btn btn-primary" %>
