<% if @course.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@course.errors.count, "erro") %> impossibilitaram a continuação do processo:</h2>

    <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :name, "Nome do Curso" %><br>
  <%= f.text_field :name, class: "form-control", placeholder: "Nome do curso sem abreviações" %>
</div>

<div class="form-group">
  <%= f.label :description, "Descrição do Curso" %><br>
  <%= f.text_field :description, class: "form-control", placeholder: "Descrição do curso" %>
</div>

<div class="form-group">
  <%= f.label :status, "Status" %>
  <%= f.select :status, [['Ativo', '1'], ['Inativo', '0']], { include_blank: true }, { class: "form-control"}  %>
</div>
<br>
<div class="form-group">
  <%= f.submit "Enviar", class: "btn btn-primary" %>
</div>
