<p>
  <%= f.label :name, "Nome do Curso" %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description, "Descrição do Curso" %><br>
  <%= f.text_field :description %>
</p>

<p>
  <%= f.label :status, "Status" %><br>
  <%= f.select(:status) do %>
    <% [['Ativo', 1], ['Inativo', 0]].each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
</p>

<%= f.submit %>
