<h2>Cursos Cadastrados</h2>
<!-- Tabela estilizada com bootstrap trazando o nome, descrição e status do curso -->
<table class="table table-striped">
  <tr><td>Cursos</td><td>Descrição</td><td>Status</td><td>Opções</td></tr>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td>
          <% if course.status == 1 %>
            Ativo
          <% else %>
            Inativo
          <% end %>
        </td>
        <td>
          <%= link_to "Visualizar", course, class: "btn-sm btn-default" %> | <%= link_to "Editar", edit_course_path(course), class: "btn-sm btn-default" %>
        </td>
      </tr>
    <% end %>
</table>

<br>
<!-- Link leva ao formulário para criar um novo curso -->
<%= link_to "Novo Curso", new_course_path, class: "btn btn-primary" %>
